@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 12px;
}

@layer components {
  .main-bar {
    @apply flex flex-row flex-1 w-[100vw] justify-between shadow z-0 text-neutral-content;
    font-family: "SF Pro";
  }
  .center-bar {
    @apply flex w-[12vw] justify-center items-center bg-neutral;
  }
  .left-bar {
    @apply flex bg-neutral justify-start shrink-0 items-center pl-[2vw] flex-1;
  }
  .right-bar {
    @apply flex flex-row flex-1 flex-shrink bg-neutral pr-[2vw] items-center;
  }
  .hoverable {
    @apply hover:bg-primary/40 cursor-default transition-colors ease-in-out;
  }
  .element {
    @apply flex align-middle h-[2.5vh] items-center my-2 justify-center overflow-hidden min-w-[2vw] 
    whitespace-nowrap py-1 px-3 rounded-lg select-none flex-nowrap text-sm;
  }
  .icon {
    @apply flex-grow mr-[10px] text-center text-lg items-center pb-[4px];
    font-size: 24px;
  }
  .long {
    @apply overflow-ellipsis overflow-x-hidden whitespace-nowrap flex-nowrap flex-shrink;
  }
  .slider {
    @apply range range-xs range-secondary;
  }
  .right-notch {
    @apply ml-1;
  }
  .workspaces {
    @apply flex flex-row justify-evenly px-2 py-4 items-center;
    font-family: Hack Nerd Font;
  }
  /* .workspaces { */
  /*   @apply h-[23px] inline-block pr-[8px]; */
  /*   font-family: Hack Nerd Font; */
  /* } */
  .workspace {
    @apply flex px-1;
  }
  .focused {
    @apply text-accent scale-125;
  }
  .unfocused {
    @apply text-secondary;
  }
}
